.main{
    width: 400px;
height: 940px;

margin-left: auto;
margin-right: auto;
background-color: rgb(238, 238, 238);

}
.replyInput{
     width: 344px;
height: 50px;




border: 1px solid rgba(233, 235, 240, 1);
background-color: none;
border-radius: 10px;
}
.comments{
    width: 400px;
height: 745px;

overflow-y: auto;
}
.typeComment{
    margin-top: 12px;
    width: 400px;
height: 189px;

background-color: white;
} 
body{
    font-family: "Rubik";
}
.commentInput{
    width: 344px;
height: 96px;




border: 1px solid rgba(233, 235, 240, 1);
background-color: none;
border-radius: 10px;
}
.inputDiv{
    width: 344px;
    margin-left: auto;
    margin-top: 10px;
    margin-right: auto;
}
.send{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
   
    width: 360px;
}
.sendBtn{
    width: 104px;
height: 48px;
background: rgba(83, 87, 182, 1);
color: white;
display: flex;
justify-content: center;
align-items: center;
border-radius: 10px;

}
.sendBtn:hover{
    background-color: rgb(41, 46, 199);
    cursor: pointer;
}
input{
    outline: 1px solid rgb(41, 46, 199) ;
}

::-webkit-scrollbar {
    width: 20px;
  }
  

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    
  }
  

  ::-webkit-scrollbar-thumb {
    background: rgba(83, 87, 182, 1);
    
  }
  .modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999; 
  }
  
  .delete-confirmation {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 343px;
height: 224px;


  }
  
  .buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .buttons button {
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  
.cancelButton{
    background: rgba(103, 114, 126, 1);
    border: 0px;
    color: white;
    width: 138px;
    height: 48px;
  
    
}
.deleteButton{
    width: 138px;
height: 48px;


    color: white;
    background: rgba(237, 99, 104, 1);
border: 0px;
}
.save{
     width: 80px;
height: 35px;
background: rgba(83, 87, 182, 1);
color: white;
display: flex;
justify-content: center;
align-items: center;
border-radius: 10px;
}
.editInput{
  

    
   
    
    border: 1px solid rgba(233, 235, 240, 1);
    background-color: none;
    border-radius: 10px;
}
.save:hover{
    background-color: rgb(41, 46, 199);
    cursor: pointer;
}

@media screen and (min-width:810px){
    
    
    .main{
        width: 810px;
    height: 896px;


    
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(238, 238, 238);
    
    }
    .replyInput{
        width: 644px;
   height: 50px;
   
   
   
   
   border: 1px solid rgba(233, 235, 240, 1);
   background-color: none;
   border-radius: 10px;
   }
    .comments{
        width: 810px;
    height: 752x;
    
    overflow-y: auto;
    }
    .typeComment{
        margin-top: 12px;
        width: 730px;
    height: 144px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;


    
    background-color: white;
    } 
   
    .commentInput{
        width: 506px;
        height: 96px;
        position: relative;
        left: 40px;
        
        
    
    
    
    
    border: 1px solid rgba(233, 235, 240, 1);
    background-color: none;
    border-radius: 10px;
    }
    body{
        background-color: rgb(238, 238, 238);
    }
    .inputDiv{
        position: relative;
        left: 40px;
        width: 506px;
        margin-left: auto;
        margin-top: 10px;
        margin-right: auto;
    }
    .send img{
        position: relative;
        right: 500px;
    }
    

}